.flex-container { 
    display: flex; 
    background-color: #f1f1f1f1;
} 
.flex-container > div { 
    background-color: dodgerblue;
    padding: 10px;
    margin: 20px;
    width: 200px;
    text-align: center;
    color: white;
}












