.grid-container { 
    display: grid;   /* display property can be set to grid or inline-grid */
    grid-template-columns: auto auto auto; 
    padding: 10px;
}
.grid-item { 
    padding: 10px; 
    border: 1px solid black; 
    text-align: center;
} 
.grid-item-1 { 
    padding: 10px; 
    border: 1px solid black; 
    text-align: center;
    color: blue;
}  

/* 
  grid property is a shorthand property for:     
  --- grid-template-rows
  --- grid-template-columns 
  --- grid-template-areas
  --- grid-auto-rows
  --- grid-auto-columns
  --- grid-auto-flow 
*/









